<script src="https://unpkg.com/vue/dist/vue.js"></script>

<div id="app">
    <div class="demo" @click="attachRed =!attachRed" :class="attachDivClasses"></div>
    <div class="demo" :style="myStyle"></div>
    <div class="demo" :class="color"></div>
    <div class="demo" :style="[myStyle, {height: width + 'px'}]"></div>
    <!-- style can take of css classes -->
    <hr>
    <input type="text" v-model="color">
    <input type="text" v-model="width">
</div>


<script>
    new Vue({
        el: '#app',
        data: {
            attachRed: false,
            color: 'green',
            width: 100
        },
        computed: {
            attachDivClasses: function() {
                return {
                    red: this.attachRed,
                    blue: !this.attachRed
                };
            },
            myStyle: function() {
                return {
                    backgroundColor: this.color,
                    width: this.width + 'px'
                }
            }
        }
    });
</script>

<style>
    .demo {
        width: 100px;
        height: 100px;
        background-color: gray;
        display: inline-block;
        margin: 10px;
    } 

    .red {
        background-color: red;
    }

    .green {
        background-color: green;
    }

    .blue {
        background-color: blue;
    }

</style>